{% import "macros/utilities/search.html" as search %}
{% import "macros/footer.html" as footer %}


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{%- block title -%}{%- endblock title -%}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap">
  <link rel="stylesheet" href="{{ get_url(path='assets/css/custom.css') | safe }}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
  {%- if config.extra.favicon -%}
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#ffffff">
  {%- endif -%}
</head>
<body>
  <div class="container-fluid vh-100">
    <div class="row h-100">
      <div class="col mh-100 overflow-auto px-0">
        <div class="d-flex flex-column h-100">
          {%- block content -%}{%- endblock content -%}

          {%- block comments -%}{%- endblock comments -%}

          {{ footer::footer() }}
        </div>
      </div>
    </div>
  </div>
  {{ search::search_modal() }}
  <script src="{{ get_url(path = 'assets/js/bootstrap/bootstrap.bundle.min.js') | safe }}"></script>
  <script>
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]');
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl));
    const myModal = document.getElementById('searchModal');
    const myInput = document.getElementById('searchInput');

    myModal.addEventListener('shown.bs.modal', () => {
      myInput.focus()
    });
  </script>
  {{ search::search_js(lang = config.default_language) }}
</body>
</html>