{% extends "base.html" %}
{% block content %}
    <header>
        <h1>Welcome to {{ page.extra.my_name }}'s Portofolio</h1>
        <nav>
            <ul>
                <li><a href="{{ get_url(path='/index.html') | safe }}">Home</a></li>
                <li><a href="{{ get_url(path='about/index.html') | safe }}">About Me</a></li>
                <li><a href="{{ get_url(path='projects/index.html') | safe }}">Projects</a></li>
                <li><a href="{{ get_url(path='publications/index.html') | safe }}">Publications</a></li>
                <li><a href="{{ get_url(path='blogs/index.html') | safe }}">Blogs</a></li>
            </ul>
        </nav>
    </header>
    {{ page.content | safe }}
{% endblock %}